section {
   margin: 90px 0;
}
html{
   overflow: visible !important;
}

body {
   font-family: "Poppins", sans-serif;
   background: rgb(234, 222, 213);
   overflow-x: hidden !important;
}

header {
   padding: 30px 0;

}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
   background: rgb(243, 237, 231);
   border-radius: 20px;
   padding: 25px 40px;
}

.navbar-nav {
   display: flex;
   flex-direction: row;
   gap: 25px;
}

.navbar-nav a,
.nav-ul-mobile a {
   text-decoration: none;
   font-size: 14px;
   font-weight: 300;
   color: black;
   transition: 0.3s all;
}

.navbar-nav a:hover {
   color: rgb(165, 71, 44);
}

/* responsive */
.nav-toggle span {
   width: 35px;
   height: 5px;
   background: white;
   border-radius: 13px;
   border: solid 0.01px black;
   transition: 0.5s all;
   position: relative;
   display: inline-block;
   display: none;
}

.nav-toggle {
   padding: 5px;
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 8px;
}

.nav-toggle.toggle .one {
   transform: rotate(45deg);
   top: 15px;
}

.nav-toggle.toggle .two {
   opacity: 0;
}

.nav-toggle.toggle .three {
   transform: rotate(-45deg);
   bottom: 11px;
}

.nav2-mobile {
   position: fixed;
   background: rgb(233, 202, 179);
   right: 0;
   top: 0;
   width: 50%;
   right: -100vw;
   align-items: center;
   justify-content: center;
   z-index: 2;
   transition: 0.3s ease-in;
   opacity: 0;
   visibility: hidden;
   height: 100vh;
   display: flex;
   align-items: center;
}

.nav-ul-mobile li {
   list-style: none;
   padding: 20px;
}

/* herosection */
#hero {
   width: 90%;
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: end;
   position: relative;
   padding: 40px 0;
   min-width: 100vh;
   height: 100%;
   margin-top: 80px;
}
.hero-banner{
   display: flex;
   align-items: center;
}
.hero-banner img{
   width: 100%;
   max-width: 450px;
   
}
.hero-content {
   margin-top: 55px;
}

.hero-content h1 {
   font-family: "Cormorant Infant", serif;
   font-size: 60px;
   line-height: 50px;
}

.hero-content span {
   font-family: "Dai Banna SIL", serif;
   font-weight: 700;
}

.description {
   font-size: 20px;
   font-weight: 400;
   max-width: 700px;
   margin: 0 auto;

}

.buttons{
   display: flex;
   gap: 15px;
   margin-top: 30px;
}
.buttons a{
   text-decoration: none;
   padding: 14px 28px;
   background: rgb(233, 202, 179);
   color: black;
   border-radius: 15px;
   font-size: 17px;
   font-weight: 500;
   border: solid 2px rgb(233, 202, 179);
   transition: all 0.3s ease;
}
.btn-1:hover,
.btn-2:hover{
   background: transparent;
   border: solid 2px rgb(233, 202, 179);
}
.icons li {
   list-style: none;
   margin-bottom: 25px;
}

.social-icons {
   position: absolute;
   right: 37px;
   bottom: 0;
}

.icons li img:hover {
   transform: scale(1.3);
   transition: 0.5s ease all;
}




/* aboutsection */
.aboutme {
   background: rgb(241, 233, 226);
   padding: 45px;
   border-radius: 35px;
}

.highlight-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
   height: 100%;
   justify-content: center;
   width: 100%;
   min-width: 50px;
}

.highlight {
   background: rgb(233, 202, 179);
   border-radius: 20px;
   max-width: 300px;
   width: 100%;
   padding: 10px;
   display: flex;
   align-items: center;
   gap: 15px;
}

.highlight h6 {
   margin: 0;
}

.content h2 {
   font-size: 44px;
   font-weight: 600;
   border-bottom: solid 1px rgb(189, 189, 189);
   margin-bottom: 20px;
}

.content p {
   font-size: 14px;
   font-weight: 300;
   max-width: 700px;
   margin: 0 auto;
}

.btn {
   padding: 12px 28px;
   background: rgb(233, 202, 179);
   border: none;
   border-radius: 15px;
   font-size: 17px;
   font-weight: 500;
   margin-top: 25px;
   transition: 0.5s all;
   border: solid 2px rgb(233, 202, 179);
}

.btn:hover {
   background: transparent;
   border: solid 2px rgb(233, 202, 179);
}

/* servicesection0 */
.service-head h2 {
   font-family: "Poppins", sans-serif;
   font-size: 44px;
   font-weight: 600;
}

.service-head {
   text-align: center;
   margin-bottom: 45px;
}

.service-head p {
   font-size: 14px;
   font-weight: 300;
   max-width: 700px;
   margin: 0 auto;
}

.service-card {
   background: rgb(243, 237, 231);
   border-radius: 15px;
   padding:30px 20px;
   height: 100%;
   
}

.service-card p {
   font-size: 14px;
   font-weight: 300;
   max-width: 700px;
   margin: 0 auto;
}

.service-card h3 {
   font-size: 30px;
   font-weight: 600;
}


/* projectsection */
.projects-head {
   margin: 0 auto;
   width: max-content;
   margin-bottom: 45px;
}

.projects-head h2 {
   font-size: 44px;
   font-weight: 600;
}
.sub-head{
   border-left: solid 3px;
   padding-left: 10px;
   height: 18px;
   width: 3px;

}
.slide img{
   object-fit: cover;
   height: 100%;
   width: 100%;
   object-position: center;
   border-radius: 15px;
   padding: 0 10px;
}
.your-class .slide{
   position: relative;
}
.slick-prev{
   position: absolute;
   top: 100%;
   z-index: 100;
   border: none;
   background: none;
   padding: 0 15px;
   color: inherit;
}
.slick-next{
   position: absolute;
   z-index: 100;
   border: none;
   background: none;
   padding: 0;
   color: inherit;
}
.work-visit a{
   text-decoration: none;
   font-weight: 300;
   font-size: 16px;
   color: white;
   background: rgb(165, 71, 44);
   padding: 5px 25px;
   border-radius: 30px;
   position: absolute;
   margin: 0 auto;
   bottom: 16px;
   left: 50%;
   transform: translateX(-50%);
   transition: all 0.3s ease-out;
}
/* skillsection */
.skills-head {
   text-align: center;
   margin-bottom: 45px;
}

.skills-head h2 {
   font-weight: 600;
   font-size: 44px;
}

.skills-head p {
   font-size: 14px;
   font-weight: 300;
   display: flex;
   text-align: center;
   justify-content: center;
   max-width: 700px;
   margin: 0 auto;


}

.skills-title {
   background: rgb(241, 233, 226);
   padding: 15px;
   width: max-content;
   margin: 10px auto;
   border-radius: 15px;
   position: relative;
   font-size: 26px;
   font-weight: 500;
   width: 22%;
   text-align: center;
   margin-top: 20px;
}

.skills-title::before {
   content: "";
   position: absolute;
   background-color: #8d8d8d;
   width: 400px;
   height: 0.5px;
   left: -400px;
   top: 50%;
}

.skills-title::after {
   content: "";
   position: absolute;
   background-color: #8d8d8d;
   width: 400px;
   height: 0.5px;
   right: -400px;
   top: 50%;
}

.designtools {
   background: rgb(243, 237, 231);
   border-radius: 20px;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.designtools h4 {
   padding: 20px;
}

.tools-section {
   margin-top: 40px;
}

.tools {
   display: flex;
   flex-direction: row;
   gap: 20px;
}

#skills h4 {
   font-size: 18px;
   font-weight: 400;
}

#skills h3 {
   font-size: 20px;
   font-weight: 600;
}

.tool {
   display: flex;
   flex-direction: column;
   background:  rgb(243, 237, 231);
   padding: 20px;
   border-radius: 20px;
   text-align: center;
   width: 100%;
   height: 100%;
   justify-content: center;
   align-items: center;
   gap: 20px;
}

.tool img {
   width: 87px;
   height: 87px;
   object-fit: contain;
}

.tool img:hover {
   transform: scale(1.3);
   transition: 0.5s ease all;
}

.designtools img:hover {
   transform: scale(1.3);
   transition: 0.5s ease all;
}

/* contactsection */
.contactbox {
   border: solid 2px rgb(189, 189, 189);
   border-radius: 40px;
   padding: 70px 40px;
}

.contactbox p {
   font-size: 14px;
   font-weight: 300;
}

.contact-info {
   display: flex;
   flex-direction: column;
   gap: 15px;
   margin-top: 40px;

}

.info-item {
   display: flex;
   align-items: center;
   gap: 10px;
   font-size: 16px;

}

.info-item a {
   text-decoration: none;
   color: black;
   font-size: 14px;
   font-weight: 300;
}

.input {
   display: flex;
   gap: 10px;
}

input,
textarea {
   width: 100%;
   padding: 5px 0 5px 10px;
   font-family: "Poppins", sans-serif;
   font-size: 12px;
   margin: 4px 0;
   border-radius: 30px;
   border: 1px solid rgb(189, 189, 189);
   outline: none;
}

textarea {
   border-radius: 20px;
   height: 140px;
   margin-bottom: 15px;
}

.submit-btn {
   width: 100%;
   padding: 15px;
   border: none;
   border-radius: 30px;
   font-size: 15px;
   background: rgb(165, 71, 44);
   color: white;
}

/* footer */
footer {
   background: rgb(243, 237, 231);
   padding: 60px 0;
}
footer h4{
   font-family: "Cormorant Infant", serif;
   font-size: 28px;
   margin-top: 20px;
   font-weight: 600;
   letter-spacing: 0.5px;
   
}
.ftr-middle p {
   font-size: 14px;
   font-weight: 300;
   margin-top: 15px;
   
   
}
.ftr-buttons{
   display: flex;
   gap: 20px;
   margin-top: 35px;
}
.ftr-buttons a{
   text-decoration: none;
   padding: 14px 28px;
   background: rgb(233, 202, 179);
   color: black;
   border-radius: 15px;
   font-size: 19px;
   font-weight: 500;
   border: solid 2px rgb(233, 202, 179);
   transition: all 0.3s ease;
}
.btn-1:hover,
.btn-2:hover{
   background: transparent;
   border: solid 2px rgb(233, 202, 179);
}
footer h5 {
   font-weight: 600;
   margin-bottom: 15px;
   margin-top: 25px;
}
.footer-links {
   list-style: none;
   padding: 0;
}

.footer-links a {
   text-decoration: none;
   color: black;
   font-size: 14px;
   font-weight: 300;
}

.footer-links li {
   margin-bottom: 8px;
}

.contact {
   padding: 5px 0;
   display: flex;
   align-items: center;
   gap: 10px;
}

.contact-details a {
   text-decoration: none;
   color: black;
   font-size: 14px;
   font-weight: 300;
}

.links li {
   list-style: none;
}

.links {
   display: flex;
   flex-direction: row;
   gap: 18px;
   padding: 5px;
   margin-top: 12px;
}

.ftr-bottom {
   text-align: center;
   border-top: solid 1px rgb(189, 189, 189);
   margin-top: 30px;
}

.ftr-bottom p {
   margin-top: 20px;
}

/* stickybuttons */
.wapp-btn {
   bottom: 80px;
   background:  rgb(241, 233, 226);
}

.call-btn {
   background:  rgb(241, 233, 226);
   bottom: 17px;
}

.wapp-btn,
.call-btn {
   position: fixed;
   right: 15px;
   z-index: 9;
   width: 50px;
   height: 50px;
   cursor: pointer;
   padding: 5px;
   border-radius: 100%;
   display: grid;
   align-items: center;
   justify-content: center;
   transition: 05s all ease-in;

}